<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  <div class="col-md-8">
    <h3>ツイート</h3>
    <%= render 'shared/feed' %>
  </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>RUN CLUB</h1>

  <h2>
    Run Clubでマラソンの目標設定や日々の記録をシェアしよう！
  </h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>



<!--
<%= image_tag("kitten.jpg") %>
-->

<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->


<% end %>            